:root {
  --primary: #0B0B0B;
  --primary-foreground: #FBFBFB;
  --surface-foreground: #F5F5F5;

  --orange-500: #F97316;
  --orange-50: #FFF7ED;
  --orange-900: #7C2D12;

  --accent-quaternary: #F14E1D;
}
