.otp {
  &__title-container {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 24px;
  }

  &__description {
    padding: 0 16px;
    margin-bottom: 24px;
  }

  &__back {
    cursor: pointer;
  }

  &__field-code {
    padding: 0 16px;
    margin-bottom: 24px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 16px 0 16px;
    margin-bottom: 10px;
  }

  &__information {
    color: #969696;
    padding: 0 16px 16px 16px;
  }
}
